

.input-search {
    margin-left: 20rem;
}
.input-search > i {
    top: -0.3rem;
    left: 17rem;
    cursor: pointer;
}

.input-search > input{
    padding: 0.2rem 0.8rem;
    font-size: 1.7rem;
    border-radius: 3px;
    border: none;
}

.nav-container > .nav-link-cta{
    color: var(--cta-clr);
}
.nav-container > .nav-link-cta:hover{
    color: var(--black-500);
}
/* .nav-link-cta:hover{
    text-decoration: underline;
} */

/* footer */
.footer{
    align-items: center;
}
.footer-title{
    margin-left: 1rem;
}
.footer-icons{
    padding: 0 0.5rem;
}

.f-icon:hover{
    cursor: pointer;
}

.footer-icons > i:hover {
    color: var(--black-500);
}